[Unit]
Description=Callcenter pmta log reader
After=network.target syslog.target sys-tuner.service

[Service]
Type=simple
Restart=always
User=root
Environment="CC_API=https://call.tera-center.com/api/pmta-notification"

ExecStart=/root/pmta-clibuild/pmta-cli 'callcenter:daemon:start'



[Install]
WantedBy=multi-user.target